@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie z komputerami</h1>
    <h3 class="d-flex justify-content-center">Ostatnia wizyta: @ViewData["Visit"]</h3>
</div>
